body {
    font-family: sans-serif;
    padding: 20px;
    background-color: #f4f4f4;
  }
  
  h1 {
    text-align: center;
  }
  
  #horariosContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 20px 0;
  }
  
  .franja {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .franja label {
    width: 60px;
  }
  
  .boton-estado {
    width: 60px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: red; /* Rojo por defecto */
  }
  
  .verde {
    background-color: green;
  }
  
  .amarillo {
    background-color: gold;
  }
  
  .rojo {
    background-color: red;
  }
  